<div id="every">
<% if @post.errors.any? %>
  <div class="form_errors">
    <h3>Errors</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @post do |f| %>
<div>
    <p><%= f.label :title  %></p>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <p><%= f.label :content  %></p>
    <%= f.text_field :content, placeholder: "New ToDo" %>
  </div>
  <%= submit_tag %>
<% end %>
</div>
