<div id="head">
<h1>To Dos</h1>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Created_at</th>
    <th>Updated_at</th>
  </tr>

<% @posts.each do |post| %>
<tr>
  <td><%= post.title  %></td>
  <td><%= post.content %></td>
  <td><%= post.created_at %></td>
  <td><%= post.updated_at %></td>
  <td><%= link_to 'Show', post_path(post) %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  </td>
</tr>

<% end %>
</table>

<div id= "link">
<%= link_to 'New ToDo', new_post_path %>
</div>
