
<div id="show">
  <h1>ToDo</h1>
<h2><%= @post.title.upcase %></h2>
<p><%=@post.content %></p>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', post_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', posts_path %>
</div>
