/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#head {
  text-align: center;
}
#show {
  background-color: turqoise;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  height: 200px;

}

#every{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

body {
  background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
 background:    -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
 background:     -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
 background:      -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
background: linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
}
 #link {
   font-size: 2em;
   margin-left: auto;
   margin-right: auto;
   width: 500px;
 }

 table {
  table-layout: fixed;
  width: 800px;
  border-collapse: collapse;
  border: 3px;
  margin-left: auto;
  margin-right: auto;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

 .field_with_errors {
  color: red;
  background: transparent;
}
.field_with_errors input {
  border: thin solid red;
}

.form_errors { color: red }
